{% extends "shop/base.html" %}

{% block title %}DailyCake-Sign In {% endblock %}

{% block link%}
  {% load static %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

{% endblock %}


{% block body %}
  <section  style="background-color: #eee;">
  <div class="container ">
    <div class="row d-flex justify-content-center align-items-center ">
      <div class="col-lg-12 col-xl-11 my-4">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign In</p>

                <form class="mx-1 mx-md-4" action="/signin_login" method="post">
                  {% csrf_token %}
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>

                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="form3Example3c" name="user_name"  class="form-control" placeholder="User name"/>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="form3Example4c" name="password" class="form-control" placeholder="Password"/>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="nav-item"><a class="nav-link" href="/changepasspage">Change Password</a></div>
                    <div class="nav-item"><a class="nav-link" href="/changepasspage">Forget Password</a></div>

                  </div>


                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    {{ message }}
                    <button type="submit" class="btn btn-primary btn-lg">Sign In</button>
                  </div>

                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-registration/draw1.png" class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block script %}
<script type="text/javascript">
// ************************************************
// Shopping Cart API
// ************************************************

var shoppingCart = (function() {
// =============================
// Private methods and properties
// =============================
cart = [];

// Constructor
function Item(id, name, price, count) {
this.id = id;
this.name = name;
this.price = price;
this.count = count;
}

// Save cart
function saveCart() {
sessionStorage.setItem('shoppingCart', JSON.stringify(cart));
}

// Load cart
function loadCart() {
cart = JSON.parse(sessionStorage.getItem('shoppingCart'));
}

//console.log("###188",JSON.stringify(sessionStorage.getItem("shoppingCart")));
if (sessionStorage.getItem("shoppingCart") != null) {
loadCart();
}


// =============================
// Public methods and properties
// =============================
var obj = {};

// Add to cart
obj.addItemToCart = function(id, name, price, count) {
for(var item in cart) {
if(cart[item].id === id) {
cart[item].count ++;
saveCart();
return;
}
}
var item = new Item(id, name, price, count);
cart.push(item);
saveCart();
}
// Set count from item
obj.setCountForItem = function(id, count) {
for(var i in cart) {
if (cart[i].id === id) {
cart[i].count = count;
break;
}
}
};
// Remove item from cart
obj.removeItemFromCart = function(id) {
for(var item in cart) {
if(cart[item].id === id) {
cart[item].count --;
if(cart[item].count <= 0) {
cart.splice(item, 1);
}
break;
}
}
saveCart();
}

// Remove all items from cart
obj.removeItemFromCartAll = function(id) {
for(var item in cart) {
if(cart[item].id === id) {
cart.splice(item, 1);
break;
}
}
saveCart();
}

// Clear cart
obj.clearCart = function() {
cart = [];
saveCart();
}

// Count cart
obj.totalCount = function() {
var totalCount = 0;
for(var item in cart) {
totalCount += cart[item].count;
}
return totalCount;
}

// Total cart
obj.totalCart = function() {
var totalCart = 0;
for(var item in cart) {
totalCart += cart[item].price * cart[item].count;
}
return Number(totalCart.toFixed(2));
}

// List cart
obj.listCart = function() {
var cartCopy = [];
for(var i in cart) {
item = cart[i];
itemCopy = {};
for(var p in item) {
itemCopy[p] = item[p];

}
itemCopy.total = Number(item.price * item.count).toFixed(2);
cartCopy.push(itemCopy)
}
return cartCopy;
}

// cart : Array
// Item : Object/Class
// addItemToCart : Function
// removeItemFromCart : Function
// removeItemFromCartAll : Function
// clearCart : Function
// countCart : Function
// totalCart : Function
// listCart : Function
// saveCart : Function
// loadCart : Function
return obj;
})();


// delete some add to cart code

// Clear items
$('.clear-cart').click(function() {
shoppingCart.clearCart();
displayCart();
});


function displayCart() {
  var cartArray = shoppingCart.listCart();
  console.log("****320",cartArray);
  var output = "";
    for(var i in cartArray) {
      output += "<tr>"
          + "<td class='border-0'>" + cartArray[i].name + "</td>"
          + "<td class='border-0'>(" + cartArray[i].price + ")</td>"
          + "<td class='border-0'><div class='input-group'><button class='minus-item input-group-addon btn btn-primary' data-id='" + cartArray[i].id + "'>-</button>"
          + "<input type='text' class='item-count form-control' data-id='" + cartArray[i].id + "' value='" + cartArray[i].count + "'>"
          + "<button class='plus-item btn btn-primary input-group-addon' data-id='" + cartArray[i].id + "'>+</button></div></td>"
          + "<td class='border-0'><button class='delete-item btn btn-danger' data-id='" + cartArray[i].id + "'>X</button></td>"
          + " = "
          + "<td class='border-0'>" + cartArray[i].total + "</td>"
          +  "</tr>";
    }
  $('.show-cart').html(output);
  $('.total-cart').html(shoppingCart.totalCart());
  $('.total-count').html(shoppingCart.totalCount());
}

// Delete item button

$('.show-cart').on("click", ".delete-item", function(event) {
var id = $(this).data('id');
shoppingCart.removeItemFromCartAll(id);
displayCart();
})


// -1
$('.show-cart').on("click", ".minus-item", function(event) {
var id = $(this).data('id');
shoppingCart.removeItemFromCart(id);
displayCart();
})
// +1
$('.show-cart').on("click", ".plus-item", function(event) {
var id = $(this).data('id');
shoppingCart.addItemToCart(id);
displayCart();
})

// Item count input
$('.show-cart').on("change", ".item-count", function(event) {
var id = $(this).data('id');
var count = Number($(this).val());
shoppingCart.setCountForItem(id, count);
displayCart();
});

displayCart();
</script>
{% endblock %}

